@import "tailwindcss";

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

textarea {
  resize: none;
  overflow: hidden;
}

button {
  cursor: pointer;
}
